[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://packagecloud.io/rrees/libs/pypi/simple"
verify_ssl = true
name = "rrees-pypi"

[packages]
gunicorn = "*"
requests = "*"
redis = "*"
"iso8601" = "*"
rrees-tag-manager = "*"
Flask = "*"
Flask-SSLify = "*"
"psycopg2-binary" = "*"

[dev-packages]
bpython = "*"

[requires]
python_version = "3.10"
