{% extends 'base.html' %}

{% block title %}Logs{% endblock %}

{% block body %}
<div class="container-fluid">
<header>
<h1>Your games</h1>
</header>
</div>

<div class="container-fluid">
<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Date</th>
			<th>Details</th>
		</tr>
	</thead>

	<tbody>
		{% for log in games_logged %}
		<tr>
			<td>{{log.game_name}}</td>
			<td>{{log.date_played}}</td>
			<td>
				{% if log.notes %}
				<div>
				{{log.notes}}
				</div>
				{% endif %}

				{% if log.tags %}
				<p>Tags: {{log.tags|join(", ")}}</p>
				{% endif %}
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
</div>

{% endblock %}