<!doctype HTML>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %} - Game logger</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

       {% include 'fragments/bootstrap.html' %}

       <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
    </head>

    <body>
        {% block navbar %}
        {% include 'fragments/navbar.html' %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block script %}
        {% endblock %}
    </body>
</html>
