{% extends 'default.html' %}

{% block title %}All logs{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1>Logs</h1>

    <table class="table">
        <thead>
            <th>Name</th>
            <th>Date played</th>
            <th>Details</th>
        </thead>
        {% for log in logs %}
        <tr>
            <td><a href="/log/{{log.id}}">{{log.name}}</a></td>
            <td>{{log.date_played}}</td>
            <td>
                {% if log.tags %}
                <p>Tags: {% for tag in log.tags %}{{tag}}{% endfor %}</p>
                {% endif %}
                {% if log.notes %}
                <p>Notes: {{log.notes}}</p>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </ul>

</div>
{% endblock %}