{% extends 'default.html' %}

{% block title %}{% if log %}{{log.game_name}} ({{log.date_played}}) {% else %}Unknown logs{% endif %}{% endblock %}

{% block content %}
<div class="container-fluid">
    {% if log %}

    <h2>{{log.game_name}}</h2>

    <p>Played: {{log.date_played}}</p>

    {% if log.system %}
    <p>System: {{log.system}}</p>
    {% endif %}

    <div class="tag-list flex">
        <div class="me-3">Tags:</div>
        <ul class="tag-list--tags flex list-reset">
            {% for tag in log.tags %}
            <li class="me-3"><a href="{{url_for('logs_by_tag', tag_name=tag)}}">{{tag}}</a></li>
            {% endfor %}
        </ul>
    </div>

    {% if log.notes %}
    <div class="log-entry--notes">
        <h3>Notes</h3>
        <pre>{{log.notes}}</pre>
    </div>
    {% endif %}

    <div class="log-entry--edit-form mb-3" data-bind="visible: showEdit">
        <h2>Edit {{log.game_name}}</h2>
        <form method="POST" action="/log/{{log.id}}/forms/edit">
            
            {% include 'forms/log.html' %}
            
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>

    <p><button class="btn btn-primary" data-bind="click: toggleEditing">Edit</button></p>

    <form class="log-entry--delete" method="POST" action="/log/{{log.id}}/forms/delete">
        <div class="mb-3">
            <button type="submit" class="btn btn-danger">Delete</button>
        </div>
    </form>
    </form>

    {% endif %}

    {% if not log %}
    <p>That log id was not recognised</p>
    {% endif %}
</div>
{% endblock %}

{% block script %}
<script>
    const LogViewModel = function() {
        this.showEdit = ko.observable(false),
        this.toggleEditing = function toggleEditing() {
            this.showEdit(!this.showEdit());
        }
    }

    ko.applyBindings(new LogViewModel());
</script>
{% endblock %}