{% extends 'default.html' %}

{% block title %}All logs{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1>Log</h1>

    {% if log %}
    <pre>{{log}}</pre>


    <h2>{{log.name}}</h2>

    {% if log.notes %}
    <div class="log-entry--notes">
        <pre>{{log.notes}}</pre>
    </div>
    {% endif %}

    <form class="log-entry--delete" method="POST" action="/log/{{log.id}}/forms/delete">
        <div class="form-group">
            <button type="submit" class="btn btn-danger">Delete</button>
        </div>
    </form>
    </form>

    {% endif %}

    {% if not log %}
    <p>That log id was not recognised</p>
    {% endif %}
</div>
{% endblock %}